{% extends "base.html" %}
{% block title %}Welcome || {{ block.super }} {% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron hvr-shutter-out-vertical">
              <h1 class="display-4 text-center hvr-wobble-top">Herotek</h1>
              <p class="lead text-center">Future Solutions.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid-lg">
    <div class="row">
        <div class="col hvr-outline-out"><img class="img-fluid" src="http://via.placeholder.com/800x500"/></div>
        <div class="col"><img class="img-fluid" src="http://via.placeholder.com/800x500"/></div>

    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
        <div class="card text-white bg-secondary mb-3 hvr-glow" style="max-width: 18rem;">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Secondary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
    </div>
   <div class="col">
        <div class="card text-white bg-secondary mb-3 hvr-grow" style="max-width: 18rem;">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Secondary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
   </div>
      <div class="col">
        <div class="card text-white bg-secondary mb-3 hvr-float-shadow" style="max-width: 18rem;">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Secondary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
   </div>
  </div>
{% endblock content %}}