{% extends "base.html" %}
{% block title %}Welcome || {{ block.super }} {% endblock title %}
{% block content %}
<div class="jumbotron">
  <h1 class="display-4 text-center">Herotek</h1>
  <p class="lead text-center">Future Solutions.</p>
</div>

<div class="container">
  <div class="row">
    <div class="col">
        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Secondary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
    </div>
   <div class="col">
        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Secondary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
   </div>
      <div class="col">
        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Secondary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
   </div>
  </div>
<h3>Hello LOL</h3>
<p> this new shit {{html_var}} </p>
<p>
{% if bool_var %}
random namber is --> {{ num }}
{% endif %}
</p>

<p>
{% for some_item in some_list %}
    {% if some_item|divisibleby:"2" %}
        Even number
    {% endif %}
    {{ some_item }}<br/>
{% endfor %}
</p>
{% endblock content %}}